.container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    position:absolute;
    top: 30px;
    right: 0px;
    width: 450px;
    padding: 12px;
    background-color: #fafafa;
    -webkit-box-shadow: 4px 5px 15px #606060;
    box-shadow: 4px 5px 15px #606060;
    z-index: 5;
}

.basketNull {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 200;
    margin: 5px 0;
}

.summary {
    font-size: 16px;
    font-weight: 400;
}